<% @posts.each do |post| %>
<!-- <h2><%= link_to post.title, post %></h2> -->
<div class="whiteindex">
<a><%= link_to (image_tag post.image, :width=>350, :height=>350, :crop=>"fill"), post %> </a>
</div>
<br>
<% end %>

<%= link_to "Add New Post", new_post_path %>
